.card {
  width: 30rem;
  height: 40rem;
  margin: auto;
  margin-bottom: 10rem;
  background-color: #494949;
  color: #ffff;
}

.section-card {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-card {
  max-width: 50%;
}

.card-img-top {
  max-width: 100%;
  height: 400px;

}

.a-card {
  text-decoration: none;
  color: #ffff;
}

.a-card:hover {
  text-decoration: none;
  color: #ffff;
}